<nav class="site-nav navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand site-brand" href="/">
      <span class="site-brand-icon">B</span>
      Blogify
    </a>

    <button
      class="navbar-toggler site-nav-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#siteNavbar"
      aria-controls="siteNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="siteNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
        <li class="nav-item">
          <a class="nav-link site-nav-link" href="/">Home</a>
        </li>

        <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link site-nav-link" href="/blog/add-blog">Add Blog</a>
        </li>
        <li class="nav-item ms-lg-2">
          <div class="dropdown">
            <button
              class="btn site-user-btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="<%= user.profileImageUrl || '/images/user.png' %>"
                alt="<%= user.fullName %>"
                class="site-user-avatar"
              />
              <span class="site-user-name"><%= user.fullName %></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end site-dropdown">
              <li class="dropdown-header">
                <strong><%= user.fullName %></strong>
                <small class="d-block text-muted"><%= user.email %></small>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item text-danger" href="/user/signout">Logout</a>
              </li>
            </ul>
          </div>
        </li>
        <% } else { %>
        <li class="nav-item ms-lg-2">
          <a class="nav-link site-nav-link" href="/user/signin">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn site-btn-primary" href="/user/signup">Create account</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
